
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSUtil/PSUtil/.vs/*
library/PSUtil/PSUtil/bin/*
library/PSUtil/PSUtil/obj/*

# ignore PowerShell Studio MetaData
PSUtil/PSUtil.psproj
PSUtil/PSUtil.psproj.bak
PSUtil/PSUtil.psprojs
PSUtil/PSUtil.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*